* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 105%; */
}
html,
body {
  line-height: 1.7em;
  /* max-width: 1850px; */
  min-width: 300px;
}
h1,
h2,
h3 {
  padding-bottom: 20px;
}
a {
  text-decoration: none;
}
.navbar {
  display: flex;
  align-items: center;
  background: #0c5196;
  position: fixed;
  height: 70px;
  width: 100%;
  justify-content: space-between;
  z-index: 11;
}
.navbar a {
  color: #fff;
  padding: 10px 20px;
}
.navbar h1 {
  /* float: left; */
  padding-top: 20px;
}

.navbar ul {
  display: flex;
  list-style: none;
}
.navbar a:hover {
  background-color: #5146;
}
.navbar .logo {
}

/* #about {
    background-color: gray;
    border-bottom: 1px solid black;
    display: flex;
    grid-template-columns: 1fr;
  }*/
#projects {
      display: grid;
      row-gap: 2em;
    background-color: lightgray;
    /* border-bottom: 1px solid black; */
    padding-top: 50px;
    padding-bottom: 50px;
grid-template-columns: repeat(4,1fr);

  justify-items: center;
  
  }

 #contact {
    background-color: gray;
    display: flex;
     margin-left: auto;
    margin-right: auto; 
    grid-template-columns: 1fr 1fr;
     padding-left: 100px;
    padding-right: 100px; 
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  } 


#welcome-section {
  background: url(./road.jpg) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#welcome-section::before {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
/* .project-tile img{
  width: 50%;
  height: 82px;
  
} */

.project-tile {
  display: flex;
  flex-direction: column;
justify-content: center;
  align-items: center;
  align-content: center;
  /* position: relative; */
  /* width: 50%; */
}

.project-tile a  {
background-color: #0c5196;
width: 391px;
text-align: center;
color: white;
 }

.project-link  {
  /* text-align: center; */
  width: auto;
  display: flex;
  background-color: royalblue;
}

.project-tile img {
  width: 391px;
  height: 220px;
  /* flex-grow: 0; */
  /* align-self: center; */
}
.project-tile:hover {
  opacity: 0.6;
}

/* .project-tile a {
  text-align: center;
} */
#welcome-section h1,h2 {
color: white;
z-index: 10;
}
#contact .btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #0c5196;
  border: none;
  border-radius: 5px;
  z-index: 10;
  fo
}

#contact .btn:hover {
  opacity: 0.6;
}
.welcome .btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #0c5196;
  border: none;
  border-radius: 5px;
  z-index: 10;
}

@media (max-width: 1560px) {
  #projects {
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 800px) {
  #projects {
    grid-template-columns: repeat(1,1fr);
  }
  .project-tile img {
    width: 391px;
  }
  .project-tile a  {
    background-color: royalblue;
    width: 391px;
    text-align: center;
     }
}
span {
  margin-right: 5px;
}

.btn-group {
  font-size: 22px;
}