#hero {
  height: 100vh;
  background: url(./img/road.jpg) no-repeat center center/cover;
}
#contact {
    height: 60vh;
    background-color: black;
}
.card-img-overlay {
    opacity: 0;
}
#img1 {
    z-index: 3;
}
.fade-in {
  animation: fadeIn ease 0.8s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.fade-out {
  animation: fadeOut ease 0.8s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
