* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

html,
body {
  line-height: 1.7em;
  min-width: 300px;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  background: #336b87;
  position: relative;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  z-index: 12;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
}


.navbar h1 {
  /* float: left; */
  padding-top: 20px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li a:hover, .navbar ul li a.current {
  border-bottom: 2px solid #90afc5;
  
}

/* welcome section */

#welcome-section {
  background: url(./img/road.jpg) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

#welcome-section::before {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 60;
  left: 0;
  content: '';
}

#welcome-section h1,h2 {
  color: white;
  z-index: 10;
  }
  
  #welcome-section .btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #336b87;
    border: none;
    border-radius: 5px;
    z-index: 10;
  }

  #welcome-section a:hover {
    opacity: 0.8;
  }

  #welcome-section h1 {
    font-size: 4em;
    margin-bottom: 30px;
  }

  #welcome-section h2 {
    font-size: 2em;
  }

/* projects section */

#project-nav {
  display: flex;
  background-color: #336b87;
   text-align: center;
   height: 50px;
   justify-content: center;
   align-items: center;
}

.projects-section {
      display: flex;
      
    background-color: #2a3132;
    /* border-bottom: 1px solid black; */
    padding-top: 50px;
    padding-bottom: 50px;
grid-template-columns: repeat(4,1fr);
  justify-items: center;  
  flex-direction: column;
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2em;
  }

  .project-tile {
  opacity: 0.9;
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
    align-content: center;
    /* position: relative; */
    /* width: 50%; */
    /* border-radius: 1em; */
  }
  
  .project-tile a  {
  background-color: #336b87;
  width: 391px;
  text-align: center;
  color: white;
   }

   .nav-link {
     background-color: #336b87;
     padding: 10px 20px;
     margin-top: 10px;
     margin-bottom: 10px;
     color: white;
     background-color: transparent;
     border: none;
   }

   .nav-link:hover {
    background-color: white;
    color: black;
    }
   .active {
    /* border-bottom: 2px solid #90afc5; */
    background-color: white;
    color: black;
   }
  
  .project-link  {
    /* text-align: center; */
    width: auto;
    display: flex;
    background-color: royalblue;
  }
  
  .project-tile img {
    width: 391px;
    height: 220px;
    
  }

  .project-tile:hover {
    opacity: 1;
  }

/* contact section */

 #contact {
    background-color: #2a3132;
    display: flex;
     margin-left: auto;
    margin-right: auto; 
    grid-template-columns: 1fr 1fr;
     padding-left: 100px;
    padding-right: 100px; 
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  #contact h1 {
    font-size: 3em;
    color: white;
   
  }

  #contact .btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #336b87;
    opacity: 0.9;
    border: none;
    border-radius: 5px;
    z-index: 10;
    
  }
  
  #contact a:hover {
    opacity: 1;
  }

  span {
    margin-right: 5px;
  }
  
  .btn-group {
    font-size: 22px;
    margin-top: 50px;
  }

/* footer */

#footer {
  background-color: #336b87;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding-top: 5px;
 padding-bottom: 5px;
 height: 50px;
}

#footer a {
  color: white;
}

#footer a:visited {
color: white;
}


.responsive {
  /* display: none; */
}

/* media queries */

@media (max-width: 1560px) {
  .projects {
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 800px) {
  .project-grid {
    grid-template-columns: repeat(1,1fr);
  }
  .project-tile img {
    width: 391px;
  }
  .project-tile a  {
    /* background-color: royalblue; */
    width: 391px;
    text-align: center;
     }
}