* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navmenu {
  background-color: #222222;
  width: 40%;
  transition: transform .8s; 
  transform: translateX(-100%);
  /* background-color: black; */
  top: 83px;
  position: absolute;
  z-index: 54;
  height: calc(100% - 83px);
}
.navmenu__list {
  list-style: none;
  font-size: 28px;
  /* height: 70vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  /* justify-content: space-around; */
  /* background-color: #2F4F4F; */
}
.navbar {
    display: flex;
    /* position: relative; */
    /* height: 44px; */
    /* grid-template-columns: 1fr 1fr; */
    padding: 20px;
    color: #fff;
    /* align-items: center; */
    background-color: black;
    justify-content: space-between;
    font-size: 28px;
  }
  .navbar>* {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: black;
  }
  .navbar__nav {
    display: none;
  }
  .navbar__nav__list {
    /* overflow: hidden; */
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 28px;
    /* position: fixed; */
  }
  .menu__btn {
    /* float: right; */
    display: inline-block;
    cursor: pointer;
/* height: 48px; */
    /* margin-right: 10px; */
    /* grid-row: 1/2; */
    /* font-size: 1.6em; */
    color: #fff;
    /* grid-column: 2/3; */
    background-color:transparent;
  justify-self: flex-end;
/* z-index: 8; */
border: none;
outline: none;
  }
  @media  (min-width:769px){
    .navbar__nav {
display: block;
    }
.menu__btn {
  display: none;
}
  }
  /* .nav-list li:hover {
border-bottom: white 2px solid;
  } */
  .nav-list li {
    display: flex;
    align-items: center;
  }
  /* .nav-list li:first-child {
    margin-top: 0;
  } */
  .nav-list a {
    text-decoration: none;
    /* display: block; */
  /* background-color: black; */
    text-align: center;
    color: #fff;
    border: none;
    /* font-size: 18px; */
    /* padding: 10px; */
    /* margin: 0; */
    /* height: 100%; */
    /* font-family: "Merriweather", serif; */
    /* z-index: 9; */
  }

  .nav-list a:hover {
    /* background-color: #fff; */
    /* color: black; */
    text-decoration: underline;
    /* border-bottom: 3px solid #ffffff; */
  }
  .nav-list.show {
    transform: translateX(0);
  }
  .navbar svg {
    color: #fff;
    /* z-index: 2000; */
  }
  .navbar__brand {
    text-decoration: none;
    color: black;
    /* grid-row: 1/2; */
    font-size: 2rem;
    color: #fff;
    /* margin-left: 10px; */
    /* z-index: 8; */
  }
  .navbar__brand a {
    text-decoration: none;
    font-size: 28px;
  }
  .navbar__brand a:visited {
    color: white;
  }
